<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <application android:label="Recruiser Capture" android:theme="@style/CaptureTheme"
        android:allowBackup="false" android:supportsRtl="true">
        <meta-data android:name="com.google.ar.core" android:value="optional" />
        <activity android:name=".capture.CaptureActivity" android:exported="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
